**title.basics.tsv.gz**
- tconst (string) - alphanumeric unique identifier of the title
- titleType (string) - the type/format of the title (e.g. movie, short, tvseries, tvepisode, video, etc)
- primaryTitle (string) - the more popular title / the title used by the filmmakers on promotional materials at the point of release
- startYear (YYYY) - represents the release year of a title. In the case of TV Series, it is the series start year
- runtimeMinutes - primary runtime of the title, in minutes
- genres (string array) - includes up to three genres associated with the title

**title.crew.tsv.gz**
- tconst (string) - alphanumeric unique identifier of the title
- directors (array of nconsts) - director(s) of the given title
- writers (array of nconsts) - writer(s) of the given title

**title.ratings.tsv.gz**
- tconst (string) - alphanumeric unique identifier of the title
- averageRating - weighted average of all the individual user ratings

**name.basics.tsv.gz**
- nconst (string) - alphanumeric unique identifier of the name/person
- primaryName (string) - name by which the person is most often credited

**title.principals.tsv.gz**
- tconst (string) - alphanumeric unique identifier of the title
- nconst (string) - alphanumeric unique identifier of the name/person
- category (string) - the category of job that person was in
- job (string) - the specific job title if applicable, else '\N'

# Setup

Pip installs

In [1]:
!pip install pyspark

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pyspark in /home/umang/.local/lib/python3.10/site-packages (3.2.2)
Requirement already satisfied: py4j==0.10.9.5 in /home/umang/.local/lib/python3.10/site-packages (from pyspark) (0.10.9.5)

Python imports

In [135]:
import os.path as path
from pyspark.sql import SparkSession
from pyspark.sql import column
from pyspark.sql.functions import *
import matplotlib.pyplot as plt

In [136]:
title_basics_dataset = "title.basics.tsv"

title_crew_dataset = "title.crew.tsv"

title_ratings_dataset = "title.ratings.tsv"

name_basics_dataset = "name.basics.tsv"

title_principals_dataset = "title.principals.tsv"

movie_description_dataset1 = "movies_metadata.csv"

movie_description_dataset2 = "mpst_full_data.csv"


if not(path.isfile(title_basics_dataset)):
  !wget https://datasets.imdbws.com/title.basics.tsv.gz
  !gzip -d title.basics.tsv.gz

if not(path.isfile(title_crew_dataset)):
  !wget https://datasets.imdbws.com/title.crew.tsv.gz
  !gzip -d title.crew.tsv.gz

if not(path.isfile(title_ratings_dataset)):
  !wget https://datasets.imdbws.com/title.ratings.tsv.gz
  !gzip -d title.ratings.tsv.gz

if not(path.isfile(name_basics_dataset)):
  !wget https://datasets.imdbws.com/name.basics.tsv.gz
  !gzip -d name.basics.tsv.gz

if not(path.isfile(title_principals_dataset)):
  !wget https://datasets.imdbws.com/title.principals.tsv.gz
  !gzip -d title.principals.tsv.gz

if not(path.isfile(movie_description_dataset1)):
  !wget https://raw.githubusercontent.com/ZakaryLepine/SOEN471-Project-Datasets/main/movies_metadata.csv

if not(path.isfile(movie_description_dataset2)):
  !wget https://raw.githubusercontent.com/ZakaryLepine/SOEN471-Project-Datasets/main/mpst_full_data.csv

# Preparing Dataset

Helpers

In [137]:
def init_spark():
  return SparkSession \
        .builder \
        .appName("Spark") \
        .config("spark.executor.memory", "8g") \
        .config("spark.driver.memory", "8g") \
        .getOrCreate()

spark = init_spark()

Create base dataframes

In [138]:
spark

In [139]:
title_basics_df = spark.read.option("delimiter", "\t").option("header", True).csv(title_basics_dataset)

title_crew_df = spark.read.option("delimiter", "\t").option("header", True).csv(title_crew_dataset)

title_ratings_df = spark.read.option("delimiter", "\t").option("header", True).csv(title_ratings_dataset)

name_basics_df = spark.read.option("delimiter", "\t").option("header", True).csv(name_basics_dataset)

title_principals_df = spark.read.option("delimiter", "\t").option("header", True).csv(title_principals_dataset)

movie_description_df1 = spark.read.option("delimiter", ",").option("header", True).csv(movie_description_dataset1)

movie_description_df2 = spark.read.option("delimiter", ",").option("header", True).csv(movie_description_dataset2)

In [140]:
movie_description_df1.columns

['adult',
 'belongs_to_collection',
 'budget',
 'genres',
 'homepage',
 'id',
 'imdb_id',
 'original_language',
 'original_title',
 'overview',
 'popularity',
 'poster_path',
 'production_companies',
 'production_countries',
 'release_date',
 'revenue',
 'runtime',
 'spoken_languages',
 'status',
 'tagline',
 'title',
 'video',
 'vote_average',
 'vote_count']

In [141]:
# movie_description_df2.count()

In [142]:
title_basics_df.show()
title_crew_df.show()
title_ratings_df.show()
name_basics_df.show()
title_principals_df.show()
movie_description_df1.show()
movie_description_df2.show()

+---------+---------+--------------------+--------------------+-------+---------+-------+--------------+--------------------+
|   tconst|titleType|        primaryTitle|       originalTitle|isAdult|startYear|endYear|runtimeMinutes|              genres|
+---------+---------+--------------------+--------------------+-------+---------+-------+--------------+--------------------+
|tt0000001|    short|          Carmencita|          Carmencita|      0|     1894|     \N|             1|   Documentary,Short|
|tt0000002|    short|Le clown et ses c...|Le clown et ses c...|      0|     1892|     \N|             5|     Animation,Short|
|tt0000003|    short|      Pauvre Pierrot|      Pauvre Pierrot|      0|     1892|     \N|             4|Animation,Comedy,...|
|tt0000004|    short|         Un bon bock|         Un bon bock|      0|     1892|     \N|            12|     Animation,Short|
|tt0000005|    short|    Blacksmith Scene|    Blacksmith Scene|      0|     1893|     \N|             1|        Comedy,Short|
|tt0000006|    short|   Chinese Opium Den|   Chinese Opium Den|      0|     1894|     \N|             1|               Short|
|tt0000007|    short|Corbett and Court...|Corbett and Court...|      0|     1894|     \N|             1|         Short,Sport|
|tt0000008|    short|Edison Kinetoscop...|Edison Kinetoscop...|      0|     1894|     \N|             1|   Documentary,Short|
|tt0000009|    movie|          Miss Jerry|          Miss Jerry|      0|     1894|     \N|            45|             Romance|
|tt0000010|    short| Leaving the Factory|La sortie de l'us...|      0|     1895|     \N|             1|   Documentary,Short|
|tt0000011|    short|Akrobatisches Pot...|Akrobatisches Pot...|      0|     1895|     \N|             1|   Documentary,Short|
|tt0000012|    short|The Arrival of a ...|L'arrivée d'un tr...|      0|     1896|     \N|             1|   Documentary,Short|
|tt0000013|    short|The Photographica...|Le débarquement d...|      0|     1895|     \N|             1|   Documentary,Short|
|tt0000014|    short| The Waterer Watered|   L'arroseur arrosé|      0|     1895|     \N|             1|        Comedy,Short|
|tt0000015|    short| Autour d'une cabine| Autour d'une cabine|      0|     1894|     \N|             2|     Animation,Short|
|tt0000016|    short|Boat Leaving the ...|Barque sortant du...|      0|     1895|     \N|             1|   Documentary,Short|
|tt0000017|    short|Italienischer Bau...|Italienischer Bau...|      0|     1895|     \N|             1|   Documentary,Short|
|tt0000018|    short|Das boxende Känguruh|Das boxende Känguruh|      0|     1895|     \N|             1|               Short|
|tt0000019|    short|    The Clown Barber|    The Clown Barber|      0|     1898|     \N|            \N|        Comedy,Short|
|tt0000020|    short|      The Derby 1895|      The Derby 1895|      0|     1895|     \N|             1|Documentary,Short...|
+---------+---------+--------------------+--------------------+-------+---------+-------+--------------+--------------------+
only showing top 20 rows

+---------+-------------------+---------+
|   tconst|          directors|  writers|
+---------+-------------------+---------+
|tt0000001|          nm0005690|       \N|
|tt0000002|          nm0721526|       \N|
|tt0000003|          nm0721526|       \N|
|tt0000004|          nm0721526|       \N|
|tt0000005|          nm0005690|       \N|
|tt0000006|          nm0005690|       \N|
|tt0000007|nm0005690,nm0374658|       \N|
|tt0000008|          nm0005690|       \N|
|tt0000009|          nm0085156|nm0085156|
|tt0000010|          nm0525910|       \N|
|tt0000011|          nm0804434|       \N|
|tt0000012|nm0525908,nm0525910|       \N|
|tt0000013|          nm0525910|       \N|
|tt0000014|          nm0525910|       \N|
|tt0000015|          nm0721526|       \N|
|tt0000016|          nm0525910|       \N|
|tt0000017|nm1587194,nm0804434|       \N|
|tt0000018|          nm0804434|       \N|
|tt0000019|          nm0932055|       \N|
|tt0000020|          nm0010291|       \N|
+---------+-------------------+---------+
only showing top 20 rows

+---------+-------------+--------+
|   tconst|averageRating|numVotes|
+---------+-------------+--------+
|tt0000001|          5.7|    2036|
|tt0000002|          5.7|     272|
|tt0000003|          6.5|    1984|
|tt0000004|          5.4|     178|
|tt0000005|          6.2|    2744|
|tt0000006|          5.0|     183|
|tt0000007|          5.4|     852|
|tt0000008|          5.4|    2181|
|tt0000009|          5.3|     209|
|tt0000010|          6.8|    7502|
|tt0000011|          5.2|     385|
|tt0000012|          7.4|   12793|
|tt0000013|          5.7|    1945|
|tt0000014|          7.1|    5799|
|tt0000015|          6.1|    1154|
|tt0000016|          5.9|    1563|
|tt0000017|          4.6|     342|
|tt0000018|          5.2|     622|
|tt0000019|          5.1|      32|
|tt0000020|          4.7|     374|
+---------+-------------+--------+
only showing top 20 rows

+---------+-------------------+---------+---------+--------------------+--------------------+
|   nconst|        primaryName|birthYear|deathYear|   primaryProfession|      knownForTitles|
+---------+-------------------+---------+---------+--------------------+--------------------+
|nm0000001|       Fred Astaire|     1899|     1987|actor,miscellaneo...|tt0072308,tt00504...|
|nm0000002|      Lauren Bacall|     1924|     2014|actress,soundtrac...|tt0037382,tt00752...|
|nm0000003|    Brigitte Bardot|     1934|       \N|actress,music_dep...|tt0057345,tt00491...|
|nm0000004|       John Belushi|     1949|     1982|actor,writer,musi...|tt0072562,tt00779...|
|nm0000005|     Ingmar Bergman|     1918|     2007|writer,director,a...|tt0050986,tt00839...|
|nm0000006|     Ingrid Bergman|     1915|     1982|actress,producer,...|tt0034583,tt00368...|
|nm0000007|    Humphrey Bogart|     1899|     1957|actor,producer,mi...|tt0034583,tt00425...|
|nm0000008|      Marlon Brando|     1924|     2004|actor,director,wr...|tt0078788,tt00686...|
|nm0000009|     Richard Burton|     1925|     1984|actor,producer,di...|tt0061184,tt00878...|
|nm0000010|       James Cagney|     1899|     1986|actor,director,pr...|tt0029870,tt00318...|
|nm0000011|        Gary Cooper|     1901|     1961|actor,stunts,prod...|tt0044706,tt00341...|
|nm0000012|        Bette Davis|     1908|     1989|actress,make_up_d...|tt0042192,tt00566...|
|nm0000013|          Doris Day|     1922|     2019|actress,producer,...|tt0048317,tt00455...|
|nm0000014|Olivia de Havilland|     1916|     2020|actress,soundtrac...|tt0031381,tt00414...|
|nm0000015|         James Dean|     1931|     1955|actor,miscellaneo...|tt0048028,tt00485...|
|nm0000016|    Georges Delerue|     1925|     1992|composer,music_de...|tt0091763,tt00963...|
|nm0000017|   Marlene Dietrich|     1901|     1992|actress,music_dep...|tt0051201,tt00550...|
|nm0000018|       Kirk Douglas|     1916|     2020|actor,producer,di...|tt0080736,tt00543...|
|nm0000019|   Federico Fellini|     1920|     1993|writer,director,a...|tt0056801,tt00507...|
|nm0000020|        Henry Fonda|     1905|     1982|actor,producer,mi...|tt0050083,tt00828...|
+---------+-------------------+---------+---------+--------------------+--------------------+
only showing top 20 rows

+---------+--------+---------+---------------+--------------------+--------------+
|   tconst|ordering|   nconst|       category|                 job|    characters|
+---------+--------+---------+---------------+--------------------+--------------+
|tt0000001|       1|nm1588970|           self|                  \N|      ["Self"]|
|tt0000001|       2|nm0005690|       director|                  \N|            \N|
|tt0000001|       3|nm0005690|       producer|            producer|            \N|
|tt0000001|       4|nm0374658|cinematographer|director of photo...|            \N|
|tt0000002|       1|nm0721526|       director|                  \N|            \N|
|tt0000002|       2|nm1335271|       composer|                  \N|            \N|
|tt0000003|       1|nm0721526|       director|                  \N|            \N|
|tt0000003|       2|nm1770680|       producer|            producer|            \N|
|tt0000003|       3|nm0721526|       producer|            producer|            \N|
|tt0000003|       4|nm1335271|       composer|                  \N|            \N|
|tt0000003|       5|nm5442200|         editor|              editor|            \N|
|tt0000004|       1|nm0721526|       director|                  \N|            \N|
|tt0000004|       2|nm1335271|       composer|                  \N|            \N|
|tt0000005|       1|nm0443482|          actor|                  \N|["Blacksmith"]|
|tt0000005|       2|nm0653042|          actor|                  \N| ["Assistant"]|
|tt0000005|       3|nm0249379|       producer|            producer|            \N|
|tt0000007|       1|nm0179163|          actor|                  \N|            \N|
|tt0000007|       2|nm0183947|          actor|                  \N|            \N|
|tt0000007|       3|nm0005690|       director|                  \N|            \N|
|tt0000007|       4|nm0374658|       director|                  \N|            \N|
+---------+--------+---------+---------------+--------------------+--------------+
only showing top 20 rows

+-----+---------------------+--------+--------------------+--------------------+-----+---------+-----------------+--------------------+--------------------+----------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------+--------------------+--------------------+--------+--------------------+-----------------+
|adult|belongs_to_collection|  budget|              genres|            homepage|   id|  imdb_id|original_language|      original_title|            overview|popularity|         poster_path|production_companies|production_countries|        release_date|             revenue|             runtime|    spoken_languages|  status|             tagline|               title|   video|        vote_average|       vote_count|
+-----+---------------------+--------+--------------------+--------------------+-----+---------+-----------------+--------------------+--------------------+----------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------+--------------------+--------------------+--------+--------------------+-----------------+
|False| {'id': 10194, 'na...|30000000|[{'id': 16, 'name...|http://toystory.d...|  862|tt0114709|               en|           Toy Story|Led by Woody, And...| 21.946943|/rhIRbceoE9lR4veE...|[{'name': 'Pixar ...|[{'iso_3166_1': '...|          1995-10-30|           373554033|                81.0|[{'iso_639_1': 'e...|Released|                null|           Toy Story|   False|                 7.7|             5415|
|False|                 null|65000000|[{'id': 12, 'name...|                null| 8844|tt0113497|               en|             Jumanji|When siblings Jud...| 17.015539|/vzmL6fP7aPKNKPRT...|[{'name': 'TriSta...|[{'iso_3166_1': '...|          1995-12-15|           262797249|               104.0|[{'iso_639_1': 'e...|Released|Roll the dice and...|             Jumanji|   False|                 6.9|             2413|
|False| {'id': 119050, 'n...|       0|[{'id': 10749, 'n...|                null|15602|tt0113228|               en|    Grumpier Old Men|A family wedding ...|   11.7129|/6ksm1sjKMFLbO7UY...|[{'name': 'Warner...|[{'iso_3166_1': '...|          1995-12-22|                   0|               101.0|[{'iso_639_1': 'e...|Released|Still Yelling. St...|    Grumpier Old Men|   False|                 6.5|               92|
|False|                 null|16000000|[{'id': 35, 'name...|                null|31357|tt0114885|               en|   Waiting to Exhale|"Cheated on, mist...|    Bernie| Glo and Robin ta...| determined to fi...|            3.859495|/16XOMpEaLWkrcPqS...|[{'name': 'Twenti...|[{'iso_3166_1': '...|          1995-12-22|81452156|               127.0|[{'iso_639_1': 'e...|Released|Friends are the p...|Waiting to Exhale|
|False| {'id': 96871, 'na...|       0|[{'id': 35, 'name...|                null|11862|tt0113041|               en|Father of the Bri...|Just when George ...|  8.387519|/e64sOI48hQXyru7n...|[{'name': 'Sandol...|[{'iso_3166_1': '...|          1995-02-10|            76578911|               106.0|[{'iso_639_1': 'e...|Released|Just When His Wor...|Father of the Bri...|   False|                 5.7|              173|
|False|                 null|60000000|[{'id': 28, 'name...|                null|  949|tt0113277|               en|                Heat|Obsessive master ...| 17.924927|/zMyfPUelumio3tiD...|[{'name': 'Regenc...|[{'iso_3166_1': '...|          1995-12-15|           187436818|               170.0|[{'iso_639_1': 'e...|Released|A Los Angeles Cri...|                Heat|   False|                 7.7|             1886|
|False|                 null|58000000|[{'id': 35, 'name...|                null|11860|tt0114319|               en|             Sabrina|An ugly duckling ...|  6.677277|/jQh15y5YB7bWz1Nt...|[{'name': 'Paramo...|[{'iso_3166_1': '...|          1995-12-15|                   0|               127.0|[{'iso_639_1': 'f...|Released|You are cordially...|             Sabrina|   False|                 6.2|              141|
|False|                 null|       0|[{'id': 28, 'name...|                null|45325|tt0112302|               en|        Tom and Huck|A mischievous you...|  2.561161|/sGO5Qa55p7wTu7FJ...|[{'name': 'Walt D...|[{'iso_3166_1': '...|          1995-12-22|                   0|                97.0|[{'iso_639_1': 'e...|Released|The Original Bad ...|        Tom and Huck|   False|                 5.4|               45|
|False|                 null|35000000|[{'id': 28, 'name...|                null| 9091|tt0114576|               en|        Sudden Death|International act...|   5.23158|/eoWvKD60lT95Ss1M...|[{'name': 'Univer...|[{'iso_3166_1': '...|          1995-12-22|            64350171|               106.0|[{'iso_639_1': 'e...|Released|Terror goes into ...|        Sudden Death|   False|                 5.5|              174|
|False| {'id': 645, 'name...|58000000|[{'id': 12, 'name...|http://www.mgm.co...|  710|tt0113189|               en|           GoldenEye|James Bond must u...| 14.686036|/5c0ovjT41KnYIHYu...|[{'name': 'United...|[{'iso_3166_1': '...|          1995-11-16|           352194034|               130.0|[{'iso_639_1': 'e...|Released|No limits. No fea...|           GoldenEye|   False|                 6.6|             1194|
|False|                 null|62000000|[{'id': 35, 'name...|                null| 9087|tt0112346|               en|The American Pres...|Widowed U.S. pres...|  6.318445|/lymPNGLZgPHuqM29...|[{'name': 'Columb...|[{'iso_3166_1': '...|          1995-11-17|           107879496|               106.0|[{'iso_639_1': 'e...|Released|Why can't the mos...|The American Pres...|   False|                 6.5|              199|
|False|                 null|       0|[{'id': 35, 'name...|                null|12110|tt0112896|               en|Dracula: Dead and...|When a lawyer sho...|  5.430331|/xve4cgfYItnOhtzL...|[{'name': 'Columb...|[{'iso_3166_1': '...|          1995-12-22|                   0|                88.0|[{'iso_639_1': 'e...|Released|                null|Dracula: Dead and...|   False|                 5.7|              210|
|False| {'id': 117693, 'n...|       0|[{'id': 10751, 'n...|                null|21032|tt0112453|               en|               Balto|An outcast half-w...| 12.140733|/gV5PCAVCPNxlOLFM...|[{'name': 'Univer...|[{'iso_3166_1': '...|          1995-12-22|            11348324|                78.0|[{'iso_639_1': 'e...|Released|Part Dog. Part Wo...|               Balto|   False|                 7.1|              423|
|False|                 null|44000000|[{'id': 36, 'name...|                null|10858|tt0113987|               en|               Nixon|An all-star cast ...|     5.092|/cICkmCEiXRhvZmbu...|[{'name': 'Hollyw...|[{'iso_3166_1': '...|          1995-12-22|            13681765|               192.0|[{'iso_639_1': 'e...|Released|Triumphant in Vic...|               Nixon|   False|                 7.1|               72|
|False|                 null|98000000|[{'id': 28, 'name...|                null| 1408|tt0112760|               en|    Cutthroat Island|Morgan Adams and ...|  7.284477|/odM9973kIv9hcjfH...|[{'name': 'Le Stu...|[{'iso_3166_1': '...|          1995-12-22|            10017322|               119.0|[{'iso_639_1': 'e...|Released|The Course Has Be...|    Cutthroat Island|   False|                 5.7|              137|
|False|                 null|52000000|[{'id': 18, 'name...|                null|  524|tt0112641|               en|              Casino|The life of the g...| 10.137389|/xo517ibXBDdYQY81...|[{'name': 'Univer...|[{'iso_3166_1': '...|          1995-11-22|           116112375|               178.0|[{'iso_639_1': 'e...|Released|No one stays at t...|              Casino|   False|                 7.8|             1343|
|False|                 null|16500000|[{'id': 18, 'name...|                null| 4584|tt0114388|               en|Sense and Sensibi...|Rich Mr. Dashwood...| 10.673167|/lA9HTy84Bb6ZwNey...|[{'name': 'Columb...|[{'iso_3166_1': '...|          1995-12-13|           135000000|               136.0|[{'iso_639_1': 'e...|Released|Lose your heart a...|Sense and Sensibi...|   False|                 7.2|              364|
|False|                 null| 4000000|[{'id': 80, 'name...|                null|    5|tt0113101|               en|          Four Rooms|It's Ted the Bell...|  9.026586|/eQs5hh9rxrk1m4xH...|[{'name': 'Mirama...|[{'iso_3166_1': '...|          1995-12-09|             4300000|                98.0|[{'iso_639_1': 'e...|Released|Twelve outrageous...|          Four Rooms|   False|                 6.5|              539|
|False| {'id': 3167, 'nam...|30000000|[{'id': 80, 'name...|                null| 9273|tt0112281|               en|Ace Ventura: When...|Summoned from an ...|  8.205448|/wRlGnJhEzcxBjvWt...|[{'name': 'O Ente...|[{'iso_3166_1': '...|          1995-11-10|           212385533|                90.0|[{'iso_639_1': 'e...|Released|New animals. New ...|Ace Ventura: When...|   False|                 6.1|             1128|
|False|                 null|60000000|[{'id': 28, 'name...|                null|11517|tt0113845|               en|         Money Train|A vengeful New Yo...|  7.337906|/jSozzzVOR2kfXgTU...|[{'name': 'Columb...|[{'iso_3166_1': '...|          1995-11-21|            35431113|               103.0|[{'iso_639_1': 'e...|Released|Get on, or GET OU...|         Money Train|   False|                 5.4|              224|
+-----+---------------------+--------+--------------------+--------------------+-----+---------+-----------------+--------------------+--------------------+----------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------+--------------------+--------------------+--------+--------------------+-----------------+
only showing top 20 rows

+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+
|             imdb_id|               title|       plot_synopsis|                tags|               split|     synopsis_source|
+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+
|           tt0057603|I tre volti della...|"Note: this synop...| mostly likely ca...| the concierge ap...| as she has appar...|
|           tt1733125|Dungeons & Dragon...|Two thousand year...|            violence|               train|                imdb|
|           tt0033045|The Shop Around t...|Matuschek's, a gi...|                null|                null|                null|

## Filters

Filter entries for only movie entries

In [143]:
title_basics_df = title_basics_df.filter(title_basics_df.titleType == "movie")
#title_basics_df.show()

Remove entries where the genres is null (\N)

In [144]:
title_basics_df = title_basics_df.filter(title_basics_df.genres != "\\N")
#title_basics_df.show()

## Integration

Separate genres and keep single genre

Cases:

| In 0 | In 1 | In 2 |
|------|------|------|
| T    | T    | T    |
| T    | T    | F    |
| T    | F    | T    |
| F    | T    | T    |
| T    | T    | F    |
| T    | F    | T    |
| F    | T    | T    |
| F    | F    | F    |

In [145]:
#When there are multiple genres:
#if only 1 from the list is in the genre column -> pick genre from list
#if multiple genres from the list is in the genre column -> weigh by count?
drama_entry_count = 0
comedy_entry_count = 0
horror_entry_count = 0
romance_entry_count = 0
action_entry_count = 0
thriller_entry_count = 0

genre_column = split(title_basics_df["genres"], ",")

genres_to_keep = ["Drama", "Comedy", "Horror", "Action"]
# genres_to_keep = ["Drama", "Comedy", "Horror", "Thriller", "Romance", "Action"]

test = title_basics_df.filter(genre_column.getItem(0).isin(genres_to_keep))
#test = title_basics_df.filter(genre_column.getItem(0).isin(genres_to_keep))
test = test.withColumn("genre", genre_column.getItem(0))

test2 = title_basics_df.filter((genre_column.getItem(1).isin(genres_to_keep)) & ~(genre_column.getItem(0).isin(genres_to_keep) ))
#test2 = title_basics_df.filter(genre_column.getItem(1).isin(genres_to_keep))
test2 = test2.withColumn("genre", genre_column.getItem(1))

test3 = title_basics_df.filter((genre_column.getItem(2).isin(genres_to_keep)) & ~(genre_column.getItem(0).isin(genres_to_keep) | genre_column.getItem(1).isin(genres_to_keep)))
#test3 = title_basics_df.filter(genre_column.getItem(2).isin(genres_to_keep))
test3 = test3.withColumn("genre", genre_column.getItem(2))

title_basics_df = test.union(test2).union(test3)
#title_basics_df.show()

'''
#title_basics_df.groupBy('genres').count().orderBy(desc("count")).show()

intermediate_df = title_basics_df.withColumn("genre1", genre_column.getItem(0))

genre_rows1 = intermediate_df.where((intermediate_df.genre1 == "Drama") | (intermediate_df.genre1 == "Comedy") | (intermediate_df.genre1 == "Horror") | (intermediate_df.genre1 == "Thriller") | (intermediate_df.genre1 == "Romance") | (intermediate_df.genre1 == "Action")).groupBy('genre1').count().orderBy("genre1").take(6)

intermediate_df = title_basics_df.withColumn("genre2", genre_column.getItem(1))

genre_rows2 = intermediate_df.where((intermediate_df.genre2 == "Drama") | (intermediate_df.genre2 == "Comedy") | (intermediate_df.genre2 == "Horror") | (intermediate_df.genre2 == "Thriller") | (intermediate_df.genre2 == "Romance") | (intermediate_df.genre2 == "Action")).groupBy('genre2').count().orderBy("genre2").take(6)

intermediate_df = title_basics_df.withColumn("genre3", genre_column.getItem(2))

genre_rows3 = intermediate_df.where((intermediate_df.genre3 == "Drama") | (intermediate_df.genre3 == "Comedy") | (intermediate_df.genre3 == "Horror") | (intermediate_df.genre3 == "Thriller") | (intermediate_df.genre3 == "Romance") | (intermediate_df.genre3 == "Action")).groupBy('genre3').count().orderBy("genre3").take(6)

for row in genre_rows1:
  if (row["genre1"] == "Action"):
    action_entry_count = action_entry_count + row["count"]

  if (row["genre1"] == "Comedy"):
    comedy_entry_count = comedy_entry_count + row["count"]

  if (row["genre1"] == "Drama"):
    drama_entry_count = drama_entry_count + row["count"]

  if (row["genre1"] == "Horror"):
    horror_entry_count = horror_entry_count + row["count"]

  if (row["genre1"] == "Romance"):
    romance_entry_count = romance_entry_count + row["count"]

  if (row["genre1"] == "Thriller"):
    thriller_entry_count = thriller_entry_count + row["count"]

for row in genre_rows2:
  if (row["genre2"] == "Action"):
    action_entry_count = action_entry_count + row["count"]

  if (row["genre2"] == "Comedy"):
    comedy_entry_count = comedy_entry_count + row["count"]

  if (row["genre2"] == "Drama"):
    drama_entry_count = drama_entry_count + row["count"]

  if (row["genre2"] == "Horror"):
    horror_entry_count = horror_entry_count + row["count"]

  if (row["genre2"] == "Romance"):
    romance_entry_count = romance_entry_count + row["count"]

  if (row["genre2"] == "Thriller"):
    thriller_entry_count = thriller_entry_count + row["count"]

for row in genre_rows3:
  if (row["genre3"] == "Action"):
    action_entry_count = action_entry_count + row["count"]

  if (row["genre3"] == "Comedy"):
    comedy_entry_count = comedy_entry_count + row["count"]

  if (row["genre3"] == "Drama"):
    drama_entry_count = drama_entry_count + row["count"]

  if (row["genre3"] == "Horror"):
    horror_entry_count = horror_entry_count + row["count"]

  if (row["genre3"] == "Romance"):
    romance_entry_count = romance_entry_count + row["count"]

  if (row["genre3"] == "Thriller"):
    thriller_entry_count = thriller_entry_count + row["count"]

genre_count_dic = {"Action": action_entry_count, "Comedy": comedy_entry_count, "Drama": drama_entry_count, "Horror": horror_entry_count, "Romance": romance_entry_count, "Thriller": thriller_entry_count}
sorted_genre_count_dic = dict(sorted(genre_count_dic.items(), key=lambda item: item[1], reverse=True))
print(sorted_genre_count_dic)

genre_column = split(title_basics_df["genres"], ",")

title_basics_df = title_basics_df.withColumn("genre", genre_column.getItem(0) if [genre_column.getItem(0), genre_column.getItem(1), genre_column.getItem(2)].index("Drama") == 0 else \
       genre_column.getItem(0) if [genre_column.getItem(0), genre_column.getItem(1), genre_column.getItem(2)].index("Comedy") == 0 else \
       genre_column.getItem(0) if [genre_column.getItem(0), genre_column.getItem(1), genre_column.getItem(2)].index("Action") == 0 else \
       genre_column.getItem(0) if [genre_column.getItem(0), genre_column.getItem(1), genre_column.getItem(2)].index("Romance") == 0 else \
       genre_column.getItem(0) if [genre_column.getItem(0), genre_column.getItem(1), genre_column.getItem(2)].index("Thriller") == 0 else \
       genre_column.getItem(0) if [genre_column.getItem(0), genre_column.getItem(1), genre_column.getItem(2)].index("Horror") == 0 else \
       genre_column.getItem(1) if [genre_column.getItem(0), genre_column.getItem(1), genre_column.getItem(2)].index("Drama") == 1 else \
       genre_column.getItem(1) if [genre_column.getItem(0), genre_column.getItem(1), genre_column.getItem(2)].index("Comedy") == 1 else \
       genre_column.getItem(1) if [genre_column.getItem(0), genre_column.getItem(1), genre_column.getItem(2)].index("Action") == 1 else \
       genre_column.getItem(1) if [genre_column.getItem(0), genre_column.getItem(1), genre_column.getItem(2)].index("Romance") == 1 else \
       genre_column.getItem(1) if [genre_column.getItem(0), genre_column.getItem(1), genre_column.getItem(2)].index("Thriller") == 1 else \
       genre_column.getItem(1) if [genre_column.getItem(0), genre_column.getItem(1), genre_column.getItem(2)].index("Horror") == 1 else \
       genre_column.getItem(2) if [genre_column.getItem(0), genre_column.getItem(1), genre_column.getItem(2)].index("Drama") == 2 else \
       genre_column.getItem(2) if [genre_column.getItem(0), genre_column.getItem(1), genre_column.getItem(2)].index("Comedy") == 2 else \
       genre_column.getItem(2) if [genre_column.getItem(0), genre_column.getItem(1), genre_column.getItem(2)].index("Action") == 2 else \
       genre_column.getItem(2) if [genre_column.getItem(0), genre_column.getItem(1), genre_column.getItem(2)].index("Romance") == 2 else \
       genre_column.getItem(2) if [genre_column.getItem(0), genre_column.getItem(1), genre_column.getItem(2)].index("Thriller") == 2 else \
       genre_column.getItem(2) if [genre_column.getItem(0), genre_column.getItem(1), genre_column.getItem(2)].index("Horror") == 2 else None)
'''

'\n#title_basics_df.groupBy(\'genres\').count().orderBy(desc("count")).show()\n\nintermediate_df = title_basics_df.withColumn("genre1", genre_column.getItem(0))\n\ngenre_rows1 = intermediate_df.where((intermediate_df.genre1 == "Drama") | (intermediate_df.genre1 == "Comedy") | (intermediate_df.genre1 == "Horror") | (intermediate_df.genre1 == "Thriller") | (intermediate_df.genre1 == "Romance") | (intermediate_df.genre1 == "Action")).groupBy(\'genre1\').count().orderBy("genre1").take(6)\n\nintermediate_df = title_basics_df.withColumn("genre2", genre_column.getItem(1))\n\ngenre_rows2 = intermediate_df.where((intermediate_df.genre2 == "Drama") | (intermediate_df.genre2 == "Comedy") | (intermediate_df.genre2 == "Horror") | (intermediate_df.genre2 == "Thriller") | (intermediate_df.genre2 == "Romance") | (intermediate_df.genre2 == "Action")).groupBy(\'genre2\').count().orderBy("genre2").take(6)\n\nintermediate_df = title_basics_df.withColumn("genre3", genre_column.getItem(2))\n\ngenre_rows3 = intermediate_df.where((intermediate_df.genre3 == "Drama") | (intermediate_df.genre3 == "Comedy") | (intermediate_df.genre3 == "Horror") | (intermediate_df.genre3 == "Thriller") | (intermediate_df.genre3 == "Romance") | (intermediate_df.genre3 == "Action")).groupBy(\'genre3\').count().orderBy("genre3").take(6)\n\nfor row in genre_rows1:\n  if (row["genre1"] == "Action"):\n    action_entry_count = action_entry_count + row["count"]\n\n  if (row["genre1"] == "Comedy"):\n    comedy_entry_count = comedy_entry_count + row["count"]\n\n  if (row["genre1"] == "Drama"):\n    drama_entry_count = drama_entry_count + row["count"]\n\n  if (row["genre1"] == "Horror"):\n    horror_entry_count = horror_entry_count + row["count"]\n\n  if (row["genre1"] == "Romance"):\n    romance_entry_count = romance_entry_count + row["count"]\n\n  if (row["genre1"] == "Thriller"):\n    thriller_entry_count = thriller_entry_count + row["count"]\n\nfor row in genre_rows2:\n  if (row["genre2"] == "Action"):\n    action_entry_count = action_entry_count + row["count"]\n\n  if (row["genre2"] == "Comedy"):\n    comedy_entry_count = comedy_entry_count + row["count"]\n\n  if (row["genre2"] == "Drama"):\n    drama_entry_count = drama_entry_count + row["count"]\n\n  if (row["genre2"] == "Horror"):\n    horror_entry_count = horror_entry_count + row["count"]\n\n  if (row["genre2"] == "Romance"):\n    romance_entry_count = romance_entry_count + row["count"]\n\n  if (row["genre2"] == "Thriller"):\n    thriller_entry_count = thriller_entry_count + row["count"]\n\nfor row in genre_rows3:\n  if (row["genre3"] == "Action"):\n    action_entry_count = action_entry_count + row["count"]\n\n  if (row["genre3"] == "Comedy"):\n    comedy_entry_count = comedy_entry_count + row["count"]\n\n  if (row["genre3"] == "Drama"):\n    drama_entry_count = drama_entry_count + row["count"]\n\n  if (row["genre3"] == "Horror"):\n    horror_entry_count = horror_entry_count + row["count"]\n\n  if (row["genre3"] == "Romance"):\n    romance_entry_count = romance_entry_count + row["count"]\n\n  if (row["genre3"] == "Thriller"):\n    thriller_entry_count = thriller_entry_count + row["count"]\n\ngenre_count_dic = {"Action": action_entry_count, "Comedy": comedy_entry_count, "Drama": drama_entry_count, "Horror": horror_entry_count, "Romance": romance_entry_count, "Thriller": thriller_entry_count}\nsorted_genre_count_dic = dict(sorted(genre_count_dic.items(), key=lambda item: item[1], reverse=True))\nprint(sorted_genre_count_dic)\n\ngenre_column = split(title_basics_df["genres"], ",")\n\ntitle_basics_df = title_basics_df.withColumn("genre", genre_column.getItem(0) if [genre_column.getItem(0), genre_column.getItem(1), genre_column.getItem(2)].index("Drama") == 0 else        genre_column.getItem(0) if [genre_column.getItem(0), genre_column.getItem(1), genre_column.getItem(2)].index("Comedy") == 0 else        genre_column.getItem(0) if [genre_column.getItem(0), genre_column.getItem(1), genre_column.getItem(2)].index("Action") == 0 else        genre_column.getItem(0) if [genre_column.getItem(0), genre_column.getItem(1), genre_column.getItem(2)].index("Romance") == 0 else        genre_column.getItem(0) if [genre_column.getItem(0), genre_column.getItem(1), genre_column.getItem(2)].index("Thriller") == 0 else        genre_column.getItem(0) if [genre_column.getItem(0), genre_column.getItem(1), genre_column.getItem(2)].index("Horror") == 0 else        genre_column.getItem(1) if [genre_column.getItem(0), genre_column.getItem(1), genre_column.getItem(2)].index("Drama") == 1 else        genre_column.getItem(1) if [genre_column.getItem(0), genre_column.getItem(1), genre_column.getItem(2)].index("Comedy") == 1 else        genre_column.getItem(1) if [genre_column.getItem(0), genre_column.getItem(1), genre_column.getItem(2)].index("Action") == 1 else        genre_column.getItem(1) if [genre_column.getItem(0), genre_column.getItem(1), genre_column.getItem(2)].index("Romance") == 1 else        genre_column.getItem(1) if [genre_column.getItem(0), genre_column.getItem(1), genre_column.getItem(2)].index("Thriller") == 1 else        genre_column.getItem(1) if [genre_column.getItem(0), genre_column.getItem(1), genre_column.getItem(2)].index("Horror") == 1 else        genre_column.getItem(2) if [genre_column.getItem(0), genre_column.getItem(1), genre_column.getItem(2)].index("Drama") == 2 else        genre_column.getItem(2) if [genre_column.getItem(0), genre_column.getItem(1), genre_column.getItem(2)].index("Comedy") == 2 else        genre_column.getItem(2) if [genre_column.getItem(0), genre_column.getItem(1), genre_column.getItem(2)].index("Action") == 2 else        genre_column.getItem(2) if [genre_column.getItem(0), genre_column.getItem(1), genre_column.getItem(2)].index("Romance") == 2 else        genre_column.getItem(2) if [genre_column.getItem(0), genre_column.getItem(1), genre_column.getItem(2)].index("Thriller") == 2 else        genre_column.getItem(2) if [genre_column.getItem(0), genre_column.getItem(1), genre_column.getItem(2)].index("Horror") == 2 else None)\n'

In [146]:
title_crew_df.show()

+---------+-------------------+---------+
|   tconst|          directors|  writers|
+---------+-------------------+---------+
|tt0000001|          nm0005690|       \N|
|tt0000002|          nm0721526|       \N|
|tt0000003|          nm0721526|       \N|
|tt0000004|          nm0721526|       \N|
|tt0000005|          nm0005690|       \N|
|tt0000006|          nm0005690|       \N|
|tt0000007|nm0005690,nm0374658|       \N|
|tt0000008|          nm0005690|       \N|
|tt0000009|          nm0085156|nm0085156|
|tt0000010|          nm0525910|       \N|
|tt0000011|          nm0804434|       \N|
|tt0000012|nm0525908,nm0525910|       \N|
|tt0000013|          nm0525910|       \N|
|tt0000014|          nm0525910|       \N|
|tt0000015|          nm0721526|       \N|
|tt0000016|          nm0525910|       \N|
|tt0000017|nm1587194,nm0804434|       \N|
|tt0000018|          nm0804434|       \N|
|tt0000019|          nm0932055|       \N|
|tt0000020|          nm0010291|       \N|
+---------+-------------------+---------+
only showing top 20 rows

In [147]:
director_column = split(title_crew_df["directors"], ",")

Separate directors and keep single director

In [148]:
director_column = split(title_crew_df["directors"], ",")
title_crew_df = title_crew_df.withColumn("director", director_column.getItem(0))
#title_crew_df.show()
title_crew_df = title_crew_df.drop("directors")
#title_crew_df.show()

In [149]:
title_crew_df.show()

+---------+---------+---------+
|   tconst|  writers| director|
+---------+---------+---------+
|tt0000001|       \N|nm0005690|
|tt0000002|       \N|nm0721526|
|tt0000003|       \N|nm0721526|
|tt0000004|       \N|nm0721526|
|tt0000005|       \N|nm0005690|
|tt0000006|       \N|nm0005690|
|tt0000007|       \N|nm0005690|
|tt0000008|       \N|nm0005690|
|tt0000009|nm0085156|nm0085156|
|tt0000010|       \N|nm0525910|
|tt0000011|       \N|nm0804434|
|tt0000012|       \N|nm0525908|
|tt0000013|       \N|nm0525910|
|tt0000014|       \N|nm0525910|
|tt0000015|       \N|nm0721526|
|tt0000016|       \N|nm0525910|
|tt0000017|       \N|nm1587194|
|tt0000018|       \N|nm0804434|
|tt0000019|       \N|nm0932055|
|tt0000020|       \N|nm0010291|
+---------+---------+---------+
only showing top 20 rows

Separate writers and keep single writer

In [150]:
writer_column = split(title_crew_df["writers"], ",")
title_crew_df = title_crew_df.withColumn("writer", writer_column.getItem(0))
#title_crew_df.show()
title_crew_df = title_crew_df.drop("writers")
#title_crew_df.show()

Get director names

In [151]:
director_df = title_crew_df.select("director", "tconst")
renamed_director_df = director_df.withColumnRenamed("director", "nconst")

director_id_name_df = renamed_director_df.join(name_basics_df, on="nconst").select("tconst", "primaryName")
director_id_name_df = director_id_name_df.withColumnRenamed("primaryName", "directorPrimaryName")
#director_id_name_df.show()

Get writer names

In [152]:
writer_df = title_crew_df.select("writer", "tconst")
renamed_writer_df = writer_df.withColumnRenamed("writer", "nconst")

writer_id_name_df = renamed_writer_df.join(name_basics_df, on="nconst").select("tconst", "primaryName")
writer_id_name_df = writer_id_name_df.withColumnRenamed("primaryName", "writerPrimaryName")
#writer_id_name_df.show()

In [153]:
title_basics_and_title_crew_and_title_ratings_df = title_basics_df.join(title_ratings_df, on="tconst").join(director_id_name_df, on="tconst").join(writer_id_name_df, on="tconst")
#title_basics_and_title_crew_and_title_ratings_df.show()

In [154]:
title_basics_and_title_crew_and_title_ratings_df.columns

['tconst',
 'titleType',
 'primaryTitle',
 'originalTitle',
 'isAdult',
 'startYear',
 'endYear',
 'runtimeMinutes',
 'genres',
 'genre',
 'averageRating',
 'numVotes',
 'directorPrimaryName',
 'writerPrimaryName']

In [155]:
# title_basics_and_title_crew_and_title_ratings_df.count()

Get actor names

In [156]:
person_df = title_principals_df.select("tconst", "nconst", "category")
#person_df.show()

actor_df = person_df.filter(person_df.category == "actor")
#person_df = person_df.filter((person_df.category == "self") | (person_df.category == "cinematographer") | (person_df.category == "composer") | (person_df.category == "producer") | (person_df.category == "editor") | (person_df.category == "actor"))
#actor_df.show()

actor_df = actor_df.join(name_basics_df, on="nconst").select("tconst", "primaryName")
actor_id_name_df = actor_df.withColumnRenamed("primaryName", "actorPrimaryName")
#actor_id_name_df.show()
title_basics_and_title_crew_and_title_ratings_actor_df = actor_id_name_df.groupBy("tconst").agg(collect_list('actorPrimaryName').alias("actors"))
title_basics_and_title_crew_and_title_ratings_actor_df = title_basics_and_title_crew_and_title_ratings_actor_df.withColumn("actor1", title_basics_and_title_crew_and_title_ratings_actor_df.actors[0])
title_basics_and_title_crew_and_title_ratings_actor_df = title_basics_and_title_crew_and_title_ratings_actor_df.withColumn("actor2", title_basics_and_title_crew_and_title_ratings_actor_df.actors[1])
title_basics_and_title_crew_and_title_ratings_actor_df = title_basics_and_title_crew_and_title_ratings_actor_df.withColumn("actor3", title_basics_and_title_crew_and_title_ratings_actor_df.actors[2])
title_basics_and_title_crew_and_title_ratings_actor_df = title_basics_and_title_crew_and_title_ratings_actor_df.withColumn("actor4", title_basics_and_title_crew_and_title_ratings_actor_df.actors[3])
title_basics_and_title_crew_and_title_ratings_actor_df = title_basics_and_title_crew_and_title_ratings_df.join(title_basics_and_title_crew_and_title_ratings_actor_df, on="tconst")
#.groupBy("actorPrimaryName").pivot("tconst").agg(first("actorPrimaryName"))
#(nth_value("actorPrimaryName", 0).alias("actor1"), nth_value("actorPrimaryName", 1).alias("actor2"), nth_value("actorPrimaryName", 2).alias("actor3"), nth_value("actorPrimaryName", 3).alias("actor4"))
#test.show()
#title_basics_and_title_crew_and_title_ratings_actor_df = title_basics_and_title_crew_and_title_ratings_df.join(actor_id_name_df, on="tconst")
#title_basics_and_title_crew_and_title_ratings_actor_df.show()

In [157]:
# title_basics_and_title_crew_and_title_ratings_actor_df.count()

In [158]:
movie_description_df2.columns

['imdb_id', 'title', 'plot_synopsis', 'tags', 'split', 'synopsis_source']

In [159]:
title_basics_and_title_crew_and_title_ratings_actor_df.columns

['tconst',
 'titleType',
 'primaryTitle',
 'originalTitle',
 'isAdult',
 'startYear',
 'endYear',
 'runtimeMinutes',
 'genres',
 'genre',
 'averageRating',
 'numVotes',
 'directorPrimaryName',
 'writerPrimaryName',
 'actors',
 'actor1',
 'actor2',
 'actor3',
 'actor4']

In [160]:
movie_description_df2.head()

Row(imdb_id='tt0057603', title='I tre volti della paura', plot_synopsis='"Note: this synopsis is for the orginal Italian release with the segments in this certain order.Boris Karloff introduces three horror tales of the macabre and the supernatural known as the \'Three Faces of Fear\'.THE TELEPHONERosy (Michele Mercier) is an attractive, high-priced Parisian call-girl who returns to her spacious, basement apartment after an evening out when she immediately gets beset by a series of strange phone calls. The caller soon identified himself as Frank, her ex-pimp who has recently escaped from prison. Rosy is terrified for it was her testimony that landed the man in jail. Looking for solace, Rosy phones her lesbian lover Mary (Lynda Alfonsi). The two women have been estranged for some time, but Rosy is certain that she is the only one who can help her. Mary agrees to come over that night. Seconds later, Frank calls again, promising that no matter who she calls for protection, he will have his revenge. Unknown to Rosy, Mary is the caller impersonating Frank. Marry arrives at Rosy\'s apartment soon after, and does her best to calm Rosy\'s nerves. She gives the panic-struck woman a tranquillizer and puts her to bed.Later that night as Rosy sleeps, Mary gets up out of bed, and pens a note of confession: she was the one making the strange phone calls when she learned of Franks escape from prison. Knowing that Rosy would call on her for help, she explains that she felt it was her way of coming back into her life after their breakup. While she is busy writing, she fails to notice an intruder in the apartment. This time it is Frank, for real. He creeps up behind Mary and strangles her to death with one of Rosys nylon stockings. The sound of the struggle awaken Rosy and she gasps in fright. The murderous pimp realizes that he just killed the wrong woman, and slowly makes his way to Rosy\'s bed. However, earlier that night, Rosy had placed a butcher knife under her pillow at Mary\'s suggestion. Rosy seizes the knife and stabs Frank with it as he\'s beginning to strangle her. Rosy drops the knife and breaks down in hysteria, surrounded by the two corpses of her former lovers.THE WURDALAKIn 19th Century Russia, Vladimir D\'Urfe is a young nobleman on a long trip. During the course of his journey, he finds a beheaded corpse with a knife plunged into its heart. He withdraws the blade and takes it as a souvenir.Later that night, Vladimir stops at a small rural cottage to ask for shelter. He notices several daggers hanging up on one of the walls, and a vacant space that happens to fit the one he has discovered. Vladimir is surprised by the entrance of Giorgio (Glauco Onorato), who explains that the knife belongs to his father, who has not been seen for five days. Giorgio offers a room to the young count, and subsequently introduces him to the rest of the family: his wife (Rika Dialina), their young son Ivan, Giorgio\'s younger brother Pietro (Massimo Righi), and sister Sdenka (Susy Anderson). It subsequently transpires that they are eagerly anticipating the arrival of their father, Gorcha, as well as the reason for his absence: he has gone to do battle with the outlaw and dreaded wurdalak Ali Beg. Vladimir is confused by the term, and Sdenka explains that a wurdalak is a walking cadaver who feeds on the blood of the living, preferably close friends and family members. Giorgio and Pietro are certain that the corpse Vladimir had discovered is that of Ali Beg, but also realize that there is a strong possibility that their father has been infected by the blood curse too. They warn the count to leave, but he decides to stay and await the old mans return.At the stroke of midnight, Gorcha (Boris Karloff) returns to the cottage. His sour demeanor and unkempt appearance bode the worse, and the two brothers are torn: they realize that it is their duty to kill Gorcha before he feeds on the family, but their love for him makes it difficult to reach a decision. Later that night, both Ivan and Pietro are attacked by Gorcha who drains them of blood, and then flees the cottage. Giorgio stakes and beheads Pietro to prevent him from reviving as a wurdalak. But he is prevented from doing so to Ivan when his wife threatens to commit suicide. Reluntantly, he agrees to bury the child without taking the necessary precautions.That same night, the child rises from his grave and begs to be invited into the cottage. The mother runs to her son\'s aid, stabbing Giorgio when he attempts to stop her, only to be greeted at the front door by Gorcha. The old man bits and infects his daughter-in-law, who then does the same for her husband. Vladimir and Sdenka flee from the cottage and go on the run and hide out in the ruins of an abandoned cathedral as dawn breaks. Vladimir is optimistic that a long and happy life lies with them. But Sdenka is reluctant to relinquish her family ties. She believes that she is meant to stay with the family.Sdenka\'s fears about her family are confirmed when that evening, Gorcha and her siblings show up at the abandoned Abby. As Vladimir sleeps, Sdenka is lured into their loving arms where they bite to death. Awakened by her screams, Vladimir rushes to her aid, but the family has already taken her home, forcing the lover to follow suite. The young nobleman finds her, lying motionless on her bed. Sdenka awakens, and a distinct change is visible on her face. No longer caring, Vladimir embraces her, and she bites and infects him too.THE DROP OF WATERIn Victorian London, England, Nurse Helen Chester (Jacqueline Pierreux) is called to a large house to prepare the corpse of an elderly medium for her burial. As she dressed the body, she notices an elaborate diamond ring on its finger. Tempted by greed, Nurse Chester steals it. As she does, a glass tips over, and drops of water begin to splash on the floor. She is also assailed by a fly, no doubt attracted by the odor of the body. Unsettled but pleased by her acquisition, she finishes the job and returns home to her small East End flat.After returning home, Nurse Chester is assailed by strange events. The buzzing fly returns and continues to pester her. Then the lights in her apartment go out, and the sounds of the dripping water continues with maddening regularity. She sees the old womans corpse lying on her bed, and coming towards her. The terrified woman begs for forgiveness, but she ultimately strangles herself, imaging that the medium\'s hands are gripping her throat.The next morning, the concierge (Harriet White Medin) discovers Nurse Chester\'s body and calls the police. The investigator on the scene (Gustavo de Nardo) quickly concludes that its a simple case and that Nurse Chester ""died of fright"". The pathologist arrives on the scene to examine the body before it\'s taken away and he notes that the only sign of violence is a small bruise on her left finger', tags=' mostly likely caused when someone pried a ring from her finger. As the doctor makes this observation', split=' the concierge appears distressed', synopsis_source=' as she has apparently took the ring from the dead Nurse Chester')

Get movie description

In [121]:
movie_description_df2 = movie_description_df2.withColumnRenamed("imdb_id", "tconst")
movie_description_df2=movie_description_df2.drop('title')
# movie_description_df1 = movie_description_df1.filter(movie_description_df1.overview.isNotNull())
# movie_description_df1 = movie_description_df1.withColumnRenamed("original_title", "primaryTitle")
title_basics_and_title_crew_and_title_ratings_actor_df = title_basics_and_title_crew_and_title_ratings_actor_df.join(movie_description_df2, on="tconst")

In [161]:
# movie_description_df2 = movie_description_df2.withColumnRenamed("imdb_id", "tconst")
# movie_description_df2=movie_description_df2.drop('title')
movie_description_df1 = movie_description_df1.filter(movie_description_df1.overview.isNotNull())
movie_description_df1 = movie_description_df1.withColumnRenamed("original_title", "primaryTitle")
title_basics_and_title_crew_and_title_ratings_actor_df = title_basics_and_title_crew_and_title_ratings_actor_df.join(movie_description_df1, on="primaryTitle")

In [162]:
title_basics_and_title_crew_and_title_ratings_actor_df.columns

['primaryTitle',
 'tconst',
 'titleType',
 'originalTitle',
 'isAdult',
 'startYear',
 'endYear',
 'runtimeMinutes',
 'genres',
 'genre',
 'averageRating',
 'numVotes',
 'directorPrimaryName',
 'writerPrimaryName',
 'actors',
 'actor1',
 'actor2',
 'actor3',
 'actor4',
 'adult',
 'belongs_to_collection',
 'budget',
 'genres',
 'homepage',
 'id',
 'imdb_id',
 'original_language',
 'overview',
 'popularity',
 'poster_path',
 'production_companies',
 'production_countries',
 'release_date',
 'revenue',
 'runtime',
 'spoken_languages',
 'status',
 'tagline',
 'title',
 'video',
 'vote_average',
 'vote_count']

In [163]:
title_basics_and_title_crew_and_title_ratings_actor_df.count()

41311

In [164]:
def print_class_distribution(df):
    # Group the DataFrame by the "genre" column and count the occurrences of each genre
    genre_counts = df.groupBy("genre").count()
    
    # Show the genre counts
    genre_counts.show()
print_class_distribution(title_basics_and_title_crew_and_title_ratings_actor_df)

+------+-----+
| genre|count|
+------+-----+
| Drama|19906|
|Horror| 3360|
|Comedy|11629|
|Action| 6416|
+------+-----+

In [125]:
final_df = title_basics_and_title_crew_and_title_ratings_actor_df.drop('titleType', 'originalTitle', 'isAdult', 'endYear', 'genres', 'numVotes', 'tconst', "actors")
final_df = final_df.withColumnRenamed('primaryTitle', 'title')
final_df = final_df.withColumnRenamed('startYear', 'year')
final_df = final_df.withColumnRenamed('runtimeMinutes', 'runtime')
final_df = final_df.withColumnRenamed('averageRating', 'rating')
final_df = final_df.withColumnRenamed('directorPrimaryName', 'director')
final_df = final_df.withColumnRenamed('writerPrimaryName', 'writer')
final_df = final_df.withColumnRenamed('plot_synopsis', 'plot')

# final_df.show()
# final_df.persist()
# final_df.repartition(1).write.option("header", "true").save("mydata.csv")

In [126]:
final_df.columns

['title',
 'year',
 'runtime',
 'genre',
 'rating',
 'director',
 'writer',
 'actor1',
 'actor2',
 'actor3',
 'actor4',
 'plot',
 'tags',
 'split',
 'synopsis_source']

In [127]:
# movies releaed after 2021 to reduce data
# final_df=final_df.filter(final_df.year.cast("int") > 2021)

In [128]:
# Remove rows with null actor1 to actor4
final_df = final_df.filter(final_df.actor1.isNotNull())
final_df = final_df.filter(final_df.actor2.isNotNull())
final_df = final_df.filter(final_df.actor3.isNotNull())
final_df = final_df.filter(final_df.actor4.isNotNull())

In [129]:
title_basics_and_title_crew_and_title_ratings_actor_df

DataFrame[tconst: string, titleType: string, primaryTitle: string, originalTitle: string, isAdult: string, startYear: string, endYear: string, runtimeMinutes: string, genres: string, genre: string, averageRating: string, numVotes: string, directorPrimaryName: string, writerPrimaryName: string, actors: array<string>, actor1: string, actor2: string, actor3: string, actor4: string, plot_synopsis: string, tags: string, split: string, synopsis_source: string]

In [130]:
final_df.columns

['title',
 'year',
 'runtime',
 'genre',
 'rating',
 'director',
 'writer',
 'actor1',
 'actor2',
 'actor3',
 'actor4',
 'plot',
 'tags',
 'split',
 'synopsis_source']

In [131]:
final_df.head()

ERROR:root:KeyboardInterrupt while sending command.][Stage 747:> (0 + 0) / 22]
Traceback (most recent call last):
  File "/home/umang/.local/lib/python3.10/site-packages/py4j/java_gateway.py", line 1038, in send_command
    response = connection.send_command(command)
  File "/home/umang/.local/lib/python3.10/site-packages/py4j/clientserver.py", line 511, in send_command
    answer = smart_decode(self.stream.readline()[:-1])
  File "/usr/lib/python3.10/socket.py", line 705, in readinto
    return self._sock.recv_into(b)
KeyboardInterrupt

KeyboardInterrupt:

In [ ]:
final_df.count()

In [ ]:
# print_class_distribution(

In [ ]:
# final_df_sample = final_df.sample(fraction=0.1, seed=42)  # Sample 10% of the data
# final_df_sample.show(2)

In [134]:
final_df.write.option("header", "true").csv("final_dataset_with_df2.csv")